########################
## Project
########################

#/bootstrap/compiled.php
#/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.project
.settings
.buildpath

/app/storage/cache/*
/app/storage/logs/*
/app/storage/sessions/*
/app/storage/views/*

[Rr]obots.txt

########################
## Environnement
########################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store


